*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    padding-top: 5%;
    /* margin-top: 5%; */
    /* height: 500px; */
    display: flex;
    justify-content: space-evenly;
    /* width: 98%; */
    margin: auto;
}
.filter{
    box-shadow: #64646f33 0px 7px 29px 0px;
    background-color: white;
    width: 20%;
}
.container{
    width: 78%;
    background-color: white;
    box-shadow: #64646f33 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.shoplist{
    width: 22%;
    /* border: 1px solid black; */
}
.shoplist img{
    width: 100%;
}